footer {
  width: 100%;
  height: 8%;
  color: lightgray;
  display: flex;
  justify-content: center;
}

.links {
  display: flex;
  justify-content: center;
  gap: 10%;
}

footer div {
  margin-top: 2px;
}

footer div:last-child {
  font-size: 0.8em;
}

footer img {
  width: 20px;
  height: 20px;
}
