body {
  margin: 0 auto;
  padding: 0;
  display: flex;
  height: 810px;
  justify-content: center;
}

a {
  text-decoration: none;
  color: black;
}

.wrap {
  width: 50%;
  height: 100%;
  border: 1px solid lightgray;
}

header {
  width: 100%;
  height: 8%;
  display: flex;
}

.logo {
  height: 15%;
  margin-left: 5%;
}

.logo p {
  margin: 0;
  line-height: 60px;
  font-size: 1.4em;
  width: 50%;
}

.back {
  width: 50%;
  display: flex;
  justify-content: end;
  font-size: 2em;
  margin-top: 2%;
  margin-left: 28%;
}

.content_wrap {
  width: 86%;
  height: 76%;
  margin-left: 7%;
}

.poster {
  width: 100%;
  height: 10%;
  display: flex;
  gap: 5%;
  align-items: center;
  font-weight: bold;
}

.poster .poster_img {
  width: 8.5%;
  height: 80%;
  border-radius: 50%;
  border: 0.5px solid lightgray;
  background-image: url("../media/me.JPG");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#image_area {
  width: 100%;
  height: 65%;
}

.project_img {
  width: 100%;
  height: 98%;
  margin-top: 1%;
}

#project_symbol {
  width: 100%;
  height: 7%;
  margin-top: 1%;
}

#project_symbol img {
  width: 5%;
  margin-left: 1%;
}

#project_symbol img:hover {
  cursor: pointer;
}

#content_body {
  width: 100%;
  height: 27%;
  margin-left: 1%;
}

.ment {
  font-size: 0.9em;
}

.tag {
  margin-top: 2%;
  font-size: 0.7em;
  color: rgb(99, 99, 255);
}

.date {
  margin-top: 2%;
  font-size: 0.7em;
  color: lightgray;
}
